/* les commentaires en css */

h2 {
    font-size: 20px;
    color: red;
}

h3 {
    font-size: 35px;
    font-weight: bold;
}

.project {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: white;
}

#tryme {
    position: absolute;
    top: 200px;
    left: 350px;
    width: 200px;
    height: 100px;
    background-color: white;
    border-radius: 25% 0 25% 0;
}

body {
    background-image: url(./dbc3f910d7efb61b884fabb55690cd8f.jpg);
}

img {
    border-radius: 10%;
}